ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

  li {
    padding: 10px;
    border-radius: 5px;
    margin: 5px;
    display: grid;
    grid-template-columns: 60px auto;
    img {
      border-radius: 50%;
      width: 100%;
    }
  }
}

.user-details {
  padding: 10px;
  display: grid;
  grid-template-columns: 60px auto;
  img {
    border-radius: 50%;
    width: 100%;
  }
}
